@media screen and (max-width: 1024px) {
	.section-div {
		overflow-y: scroll;
	}
}
@media screen and (max-width: 767px) {
	header {
		display: flex;
		flex-direction: column;
		min-height: 30vh;
		max-height: fit-content;
		margin-bottom: 10vh;
	}
	.listing {
		width: 90%;
		overflow: auto;
		overflow: auto;
		flex-direction: column;
	}
	.admin-h2,
	.index-h2 {
		height: fit-content;
		width: fit-content;
	}
	section {
		flex-direction: column;
	}
	.section-div {
		width: 90%;
	}
	section img {
		width: 90%;
		position: relative;
		left: 20px;
		top: 50px;
	}
}
